{% extends 'base.html' %}
{% load filters %}
{% load static %}

{% block navbar %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://127.0.0.1:8000/">MAStucco</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="http://127.0.0.1:8000/">Home</a></li>
            <li><a href="http://127.0.0.1:8000/workorders/">Work Orders</a></li>
            <li class="active"><a href="http://127.0.0.1:8000/reports">Reports</a></li>
            <li><a href="http://127.0.0.1:8000/workeradministration/">Worker Administration</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="navbar-text">Welcome, {{ user.username }}!</li>
            <li><a href="http://127.0.0.1:8000/logout/">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
{% endblock %}

{% block content %}
        <br/>
    <!--Search bar-->
    <form action='' method='post'>
        {% csrf_token %}
        <div class="col-lg-6">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" type='submit' value='Search'>Go!</button>
              </span>
                <input class="form-control" type='text' name="search_title" size="30" placeholder="Search for...">
            </div>
        </div>
    </form>

        <!--<div class="container-fluid" id="cashed_jobs" style="display: none;">-->
    <br>
    <br>
    <div class="row-fluid" id="cashed_jobs">
        <div class="col-xs-12 col-md-8">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h2 class="panel-title">Cashed Work Orders</h2>
                </div>
                <!-- List group -->
                <div class="list-group">
                    {% for work_order in cashed_work_orders %}
                        <a href="http://127.0.0.1:8000/reports/info/{{ work_order.id }}" class="list-group-item">
                            <h4 class="list-group-item-heading">Customer: {{ work_order.customer }}</h4>
                            <p class="list-group-item-text"><strong>Phase:</strong> {{ work_order.work_phase|extend_work_phase }}</p>
                            <p class="list-group-item-text"><strong>Worker:</strong> {{ work_order.assigned_worker.first_name }}
                                {{ work_order.assigned_worker.last_name }}</p>
                            <p class="list-group-item-text"><strong>Date:</strong> {{ work_order.date|date:'l, F jS' }}</p>
                        </a>
                    {% endfor %}
                </div>
            </div>
            {% if cashed_work_orders.has_other_pages %}
              <ul class="pagination">
                {% if cashed_work_orders.has_previous %}
                  <li><a href="?page={{ cashed_work_orders.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in cashed_work_orders.paginator.page_range %}
                  {% if cashed_work_orders.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if cashed_work_orders.has_next %}
                  <li><a href="?page={{ cashed_work_orders.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
        </div>
        <div class="col-xs-12 col-sm-2">
            <button class="btn btn-lg btn-primary btn-block" id="cashedJ2" type="button">Cashed</button>
        </div>
        <div class="col-xs-12 col-sm-2">
            <button class="btn btn-lg btn-primary btn-block" id="uncashedJ2" type="button">Uncashed</button>
        </div>
    </div>
        <!--</div>-->

{% endblock %}

{% block custom_js %}
    <script src="{% static 'js/reports_cashed.js' %}"></script>
{% endblock %}