{% extends 'base.html' %}
{% load filters %}
{% block navbar %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://127.0.0.1:8000/">MAStucco</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="http://127.0.0.1:8000/">Home</a></li>
            <li><a href="http://127.0.0.1:8000/workorders/">Work Orders</a></li>
            <li class="active"><a href="http://127.0.0.1:8000/reports/">Reports</a></li>
            <li><a href="http://127.0.0.1:8000/workeradministration/">Worker Administration</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="navbar-text">Welcome, {{ user.username }}!</li>
            <li><a href="http://127.0.0.1:8000/logout/">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
{% endblock %}
{% block content %}
    <br/>
        <div class="container-fluid" id="report_info">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-default">

                        <table class="table">
                                <tr>
                                    <th colspan="3">Work Order Information</th>
                                </tr>
                                <tr></tr>
                            <tbody>
                                <tr>
                                    <td><p class="list-group-item-text"><strong>Customer:</strong> {{ wOrder.customer }}</p></td>
                                    <td><p class="list-group-item-text"><strong>Phase:</strong> {{ wOrder.work_phase|extend_work_phase }}</p></td>
                                    <td><p class="list-group-item-text"><strong>Worker:</strong> {{ wOrder.assigned_worker.first_name }}
                                                    {{ wOrder.assigned_worker.last_name }}</p></td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td><p class="list-group-item-text"><strong>Date:</strong> {{ wOrder.date|date:'l, F jS' }}</p></td>
                                    <td><p class="list-group-item-text"><strong>Order By:</strong> {{ wOrder.order_by }}</p></td>
                                    <td><p class="list-group-item-text"><strong>Model:</strong> {{ wOrder.model }}</p></td>
                                    <td><p class="list-group-item-text"><strong>Notes:</strong> {{ wOrder.notes }}</p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <table class="table">
                                <tr>
                                    <th colspan="3">Part Order Information</th>
                                </tr>
                                <tr></tr>
                            <tbody>
                                {% for work_order in pOrder %}
                                    <tr>
                                        <td><p class="list-group-item-text"><strong>Quantity:</strong> {{ work_order.quantity }}</p></td>
                                        <td><p class="list-group-item-text"><strong>Part:</strong> {{ work_order.part }}</p></td>
                                        <td><p class="list-group-item-text"><strong>Measure:</strong> {{ work_order.measure }}</p></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        <br/>
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <table class="table">
                                <tr>
                                    <th colspan="3">Job Information</th>
                                </tr>
                                <tr></tr>
                            <tbody>
                                <tr>
                                    <td><p class="list-group-item-text"><strong>Lot:</strong> {{ wOrder.job.lot }}</p></td>
                                    <td><p class="list-group-item-text"><strong>Address:</strong> {{ wOrder.job.address }}</p></td>
                                    <td><p class="list-group-item-text"><strong>Subdivision:</strong> {{ wOrder.job.subdivision }}</p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% if not wOrder.is_taken %}
            <button class="btn btn-lg btn-primary btn-block" id="taken" type="button">Check taken</button>
        {% endif %}
        </div>
{% endblock %}
{% block custom_js %}
    <script src="{% static 'js/workorder.js' %}"></script>
{% endblock %}