{% extends 'base.html' %}
{% load static %}
{% load filters %}

{% block custom_css %}
    <link href="{% static 'css/workorder.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <br/>
    <div class="card" id="report_info">
        <div class="card-block text-nowrap">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class = "container-fluid">
                        <h1>Work Order Information</h1>
                            <p><strong>Customer:</strong>
                                {{ work_order.customer }}</p>
                            <p><strong>Phase:</strong> {{ work_order.work_phase|extend_work_phase }}</p>
                            <p><strong>Worker:</strong> {{ work_order.assigned_worker.first_name }} {{ work_order.assigned_worker.last_name }}</p>
                            <p><strong>Date:</strong> {{ work_order.date|date:'l, F jS' }}</p>
                            <p><strong>Order By:</strong> {{ work_order.order_by }}</p>
                            <p><strong>Model:</strong> {{ work_order.model }}</p>
                            <p><strong>Notes:</strong> {{ work_order.notes }}</p>
                        <hr>
                        <h1 class="display-4">Part Order Information</h1>
                           {% for part_order in part_orders %}
                                <p><strong>Quantity:</strong> {{ part_order.quantity }}</p>
                                <p><strong>Part:</strong> {{ part_order.part }}</p>
                                <p><strong>Measure:</strong> {{ part_order.measure }}</p>
                                <br>
                           {% endfor %}
                        <hr>
                        <h1 class="display-4">Job Information</h1>
                            <p><strong>Lot:</strong> {{ work_order.job.lot }}</p>
                            <p><strong>Address:</strong> {{ work_order.job.address }}</p>
                            <p><strong>Subdivision:</strong> {{ work_order.job.subdivision }}</p>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-4">
                {% if user.is_staff %}
                    {% if work_order.is_cashed or work_order.work_phase != 'FINISHED' %}
                        <button class="btn btn-lg btn-primary btn-block disabled" type="submit">Cash</button>
                    {% else %}
                        <form action="" method="post">
                            {% csrf_token %}
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Cash</button>
                        </form>
                    {% endif %}
                {% else %}
                    {% if work_order.is_taken %}
                        <button class="btn btn-lg btn-primary btn-block disabled" type="submit">Take</button>
                    {% else %}
                        <form action="" method="post">
                            {% csrf_token %}
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Take</button>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}